div.content {
    margin-bottom: 200%;
}

.floating-menu {
    font-family: sans-serif;
    background: rgba(92,147,117,255);
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
    right: 0;/* You can change float left/right */
}

.floating-menu a, .floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
    text-align: center;
}

#box{
    width: 1000px;
    border: solid #ffffff 3px;
    padding: 15px;
    font-size: 19px;
    background: #323232;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}