@import url('https://fonts.googleapis.com/css?family=Abel');

body {
	background-color: #101010;
	font-family: 'Abel', sans-serif;
	color: #333;
	margin: 0;
}

a {
	color: #5fc0b1;
	text-decoration: none;
	transition: 1s;
}

a:hover {
	text-decoration: none;
	color: #5fc0b1;
	opacity: 0.8;
	transition: 1s;
}

p {
	color: #cacaca;
}

h1 {
	font-weight: normal;
}

/* =============================================================================== */

section.form {
	opacity: 1;
	background-color: transparent;
	padding: 20px;
	text-align: center;
  	color: #cacaca;
}

.center {
	margin-right: auto;
  	margin-left: auto;
  	display: block;
  	width: 400px;
  	margin-top: 100px;
  	margin-bottom: 60px;
}

input {
	opacity: 0.8;
	border-radius: 20px;
	padding: 10px;
	width: 80%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	box-shadow: none;
	color: #fff;
	border: none;
	background-color: #2d2d2d;
	transition: 1s;
	border: 2px solid transparent;
}

input:focus, input:hover {
	transition: 0.5s;
	border: 2px solid #5d5d5d;
	background-color: transparent;
}

.name-surname {
	width: 36%;
	display: inline;
}

button {
	width: 86%;
	border-radius: 20px;
	background-color: #cacaca;
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-shadow: none;
	text-shadow: none;
	border: none;
	padding: 10px;
	font-family: 'Abel', sans-serif;
	transition: 1s;
}

button:hover {
	background-color: #5fc0b1;
	transition: 1s;
}

/* ============================================================================================ */

/* FOOTER STARTS HERE */
footer {
	background-color: #020202;
	color: #fff;
	width: 100%;
}

.footer_container {
	padding: 20px;
	text-align: center;
	float: none;
}

.footer_container .bottom_text {
	font-size: 14px;
	text-transform: uppercase;
}

.social_icons {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/* FOOTER ENDS HERE */