RewriteEngine on

# Remove file extensions
#RewriteRule ^signup$ signup.php [L]
RewriteRule ^([\w_]+)$ $1.php [L]

# Redirect hidden files/folders to not found
RedirectMatch 404 /\..*$

# Hide php files that don't directly interact with users
RedirectMatch 404 DataBaseConfig\.php$
RedirectMatch 404 CookieManager\.php$
RedirectMatch 404 DataBase\.php$
RedirectMatch 404 Tools\.php

# Force non-www in a Generic Way
RewriteCond %{HTTP_HOST} ^www\.
RewriteCond %{HTTPS}s ^on(s)|off
RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

# Remove Trailing Slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# Force HTTPS
RewriteEngine on
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Note: It’s also recommended to enable HTTP Strict Transport Security (HSTS)
# on your HTTPS website to help prevent man-in-the-middle attacks.
# See https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security
<IfModule mod_headers.c>
    # Remove "includeSubDomains" if you don't want to enforce HSTS on all subdomains
    Header always set Strict-Transport-Security "max-age=31536000;includeSubDomains"
</IfModule>

# Custom Error Pages
ErrorDocument 500 "Houston, we have a problem."