body
{
    margin:0 auto;
    padding:0px;
    text-align:center;
    width:100%;
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
    background-color:#ECF0F1;
}
#wrapper
{
    margin:0 auto;
    padding:0px;
    text-align:center;
    width:995px;
}
#menu_div
{
    padding:0px;
    margin:0px;
    width:180px;
    height:100%;
    background-color:#2E2E2E;
    position:fixed;
    top:0px;
    left:0px;
}
#menu_div li
{
    border-bottom:1px solid #424242;
    list-style-type:none;
    text-align:left;
}
#menu_div #sitename
{
    font-size:40px;
    margin-top:50px;
    margin-bottom:30px;
    padding:0px;
    padding-left:10px;
    color:white;
    border-bottom:none;
    cursor:pointer;
}
#menu_div li a
{
    height:50px;
    line-height:50px;
    display:block;
    color:silver;
    text-decoration:none;
    font-size:18px;
    padding-left:20px;
}
#menu_div li:hover a
{
    color:white;
}
#content
{
    width:815px;
    margin-left:170px;
    margin-top:40px;
    text-align:center;
}
#content h1
{
    margin-top:50px;
    font-size:45px;
    color:#626567;
}
#content h1 p
{
    font-size:18px;
    width:100%;
    margin:0px;
    margin-top:10px;
}
#content p
{
    color:#4D5656;
    width:600px;
    margin-left:110px;
}